.btn-flotante {
    font-size: 16px;
    /* Cambiar el tamaño de la tipografia */
    text-transform: uppercase;
    /* Texto en mayusculas */
    font-weight: bold;
    /* Fuente en negrita o bold */
    border-radius: 5px;
    /* Borde del boton */
    letter-spacing: 2px;
    /* Espacio entre letras */
    /* Color de fondo */
    padding: 9px 15px;
    /* Relleno del boton */
    position: fixed;
    bottom: 5px;
    right: 5px;
    transition: all 300ms ease 0ms;
    z-index: 99;
}

.btn-flotante:hover {
    transform: translateY(-12px);
}

@media only screen and (max-width: 600px) {
    .btn-flotante {
        font-size: 7px;
        padding: 6px 10px;
        bottom: 5px;
        right: 5px;
    }
}